.Cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  margin: 10px;
  border: 2px solid black;
  background-color: rgb(136, 136, 136);
  margin-left: auto;
  margin-right: auto;
}
