.Nav {
  background-color: #435058;
}

.navbar {
  background-color: rgb(172, 172, 172);
  position: fixed;
  width: 100%;
}

.basic-navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin-right: 50px;
}

.dropdown-toggle {
  width: 50px;
}

img {
  width: 150px;
  height: 50px;
}

.toggle {
  margin: right;
  float: right;
}

.login {
  margin-right: 50px;
}

button {
  width: 100px;
  background: transparent;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(189, 189, 189);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
