:root {
  --dark: #525c62;
  --white: #e9ebeb;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: #1418cb;
  --font-weight: 400;
}

body.light > div#root > div.App > nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #bec2c4;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

body.dark > div#root > div.App > nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #435058;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

body.light > div#root > div.App > div.footer > div.footer.p-4 {
  background-color: #bec2c4;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

body.dark > div#root > div.App > div.footer > div.footer.p-4 {
  background-color: #435058;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

body.dark {
  --background-color: var(--dark);
  --text-color: #e8e417;
  --font-weight: 400;
}
